{% extends 'base.html' %}


{% block content %}
  {% comment %} 등록한 영화정보를 수정하는 EDIT 페이지이다.  {% endcomment %}
  <h1>EDIT</h1>
  <hr>
  {% comment %} 기본적인 형태는 NEW에서 사용하는 FORM을 바탕으로 작성하되, 기본 등록되어 있는 값을 유지하도록 value를 설정해준다.  {% endcomment %}
  <form action="{% url 'movies:update' movie.pk %}" method="POST">
    {% csrf_token %}
    <label for="title">TITLE</label>
    <input type="text"  id="title" name="title" value="{{movie.title}}" >
    <br>
    <label for="audience" >AUDIENCE</label>
    <input type="number" id="audience" name="audience" value="{{movie.audience}}" >
    <br>
    <label for="release_date" >RELEASE_DATE</label>
    <input type="date" id="release_date"  name="release_date" value="{{movie.release_date|date:'Y-m-d'}}" >
    <br>
    <label for="genre" >GENRE</label>
    <select id="genre" name="genre" value="{{movie.genre}}"  >
      <option value="comedy">코미디</option>
      <option value="action">액션</option>
      <option value="thriller">스릴러</option>
      <option value="fear">공포</option>
      <option value="war">전쟁</option>
    </select>
    <br>
    <label for="score" >SCORE</label>
    <input type="number" step="0.01"  id="score" name="score" value="{{movie.score}}" >
    <br>
    <label for="url" >POSTER_URL</label>
    <input type="url" id="url" name="url" value="{{movie.poster_url}}" >
    <br>
    <label for="description"> description</label>
    <textarea name="description" id="description" cols="10" rows="4"  >{{movie.description}}</textarea>

    <br>
    <input type="submit">
    <input type='reset'>
  </form>
  <a href="{% url 'movies:index' %}">BACK</a>
{% endblock content %}